/* Fullscreen Section Styling */
.fullscreen {
    height: 100vh;
    /* 100% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Custom Landing Page Styles */
#landing {
    position: relative;
    color: black;
    text-shadow: 0 0 20px black;
}

/* Adding a pseudo-element to apply blur and grayscale to the background image */
#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://media.istockphoto.com/id/1834732329/de/vektor/rettungsring-und-rettungsschwimmer-rettungsschwimmer-ringretter-rettungsringe.jpg?s=612x612&w=0&k=20&c=pbXGn4gXnfhOsOJEEg6GeQvt1WIU_bvizNV-JnnI5O8=');
    background-size: cover;
    background-position: center;
    filter: grayscale(0%) blur(0px);
    /* Apply grayscale and blur */
    z-index: -1;
    /* Ensure this stays in the background */
}


#landing h1 {
    z-index: 2;
    font-size: 4rem;
    font-weight: 600;
}

#landing p {
    z-index: 2;
    font-size: 1.5rem;
}

#landing a {
    z-index: 2;
}

/* Section Titles */
h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffcc00;
    /* Accent color for section headings */
}

/* Button Styling */
.btn {
    font-size: 1.2rem;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
}

/* Section Background Colors */
.bg-secondary {
    background-color: #333 !important;
}

.bg-dark {
    background-color: #121212 !important;
}

.text-light {
    color: #f0f0f0;
}
