/* Hintergrundbild unscharf und dunkler */
body {
    background-image: url('https://www.asb-lv-st.de/application/files/thumbnails/large/1615/1094/4688/11_Rettung_Wasser_1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px); /* Unscharf stellen */
}

/* Alle Sections, die einen Textinhalt haben */
section {
    position: relative;
    z-index: 1;
}

/* Überlagerungseffekt für den Hintergrund */
.bg-secondary, .bg-dark {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
